{% extends "template.html" %}
{% block title %} Dashboard -- YOU ARE LOGGED IN {% endblock %}
{% block body %}

<h2> Here are your blogs: </h2>

Jinja for each blog display blog name
make it a link
{{myBlogs}}


<form action="/displayBlog">
  <input type="text"  name="blogName" placeholder="Name of new Blog">
  <input type="submit" name="createblog" value="Create">
</form>



SELECT A BLOG OR ADD NEW BLOG:
What should be here: add blog button, del blog button, search bar + submit button,
{% endblock %}
