{% extends "template.html" %}
{% block title %} Dashboard -- LOGGEDIN {% endblock %}
{% block body %}
<h2> Welcome Back, {{LoggedUser}}! </h2>
<br>
<h2> Here are your blogs: </h2>

{% for blog in blogs %}

<p>
 	{{blog[0]}} 
  <form action="/display_blog">
    <input type="hidden" name="blog_id" value={{blog[1]}}>
	<input type="submit" name="go" value="View">
  </form>
  <form action="/remove_blog">
    <input type="hidden" name="blog_id" value={{blog[1]}}>
	<input type="submit" name="remove" value="Delete">
  </form>
</p>

{% endfor %}


<form action="/newBlog">
  <input type="text"  name="blogName" placeholder="Name of new Blog">
  <input type="submit" name="createblog" value="Create">
</form>

<h2>Search For A Blog</h2>
<form action="/search_blog">
  <input type="text" name="blog_title" placeholder="Title of the Blog">
  <input type="submit" name="searchblog" value="Search">
</form>
{{searchlist}}

<br/>
<form action="/logout">
  <input type="submit" name="logout" value="Click here to log out">
</form>
{% endblock %}
