<!--
Team Pineapple
Kyle Tau, Angela Tom, Mohammed Uddin, Kaitlin Wan
-->

{% extends "template.html" %}
{% block title %} {{blog_title}} {% endblock %}

{% block body %}
<h2> {{blog_title}} </h2>
<h3> {{author}} </h3>
<br>

<h4>Old Content:</h4>
<p>{{entry_text}}</p>

<h4>Edit:</h4>
<form action="/edit_entry">
	<input type="hidden" name="blog_id" value={{blog_id}}>
	<input type="hidden" name="entry_id" value="{{entry_id}}">
	<textarea rows="15" cols="80" name="content">{{entry_text}}</textarea>
	<p><input type="submit" name="new" value="Save"></p>
</form>

<form action="/display_entry">
	<input type="hidden" name="blog_id" value={{blog_id}}>
  	<input type="hidden" name="entry_id" value="{{entry_id}}">
    <input type="submit" name="show" value="Cancel and Return">
</form>

{% endblock %}
