<!--
Team Pineapple
Kyle Tau, Angela Tom, Mohammed Uddin, Kaitlin Wan
-->

{% extends "template.html" %}
{% block title %} Not Logged In {% endblock %}

{% block body %}
<h4>Login:</h4>
<form action="/login">
  <input type="text"  name="user" placeholder="username">
  <input type="text"  name="pass" placeholder="password">
  <input type="submit" name="auth" value="Log In">
</form>
<br>
<h4>Register:</h4>
<form action="/register">
  <input type="text"  name="user" placeholder="username">
  <input type="text"  name="pass" placeholder="password">
  <input type="submit" name="regi" value="Register">
</form>

<h1> {{loginStatus}} </h1>

{% endblock %}
