<!--
Team Pineapple
Kyle Tau, Angela Tom, Muhammad Uddin, Kaitlin Wan
-->
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>

<center>
<h1>

  _____ _            _                   _
|  __ (_)          | |                 (_)
| |__) | _ __   ___| | ___   __ _  __ _ _ _ __   __ _
|  ___/ | '_ \ / _ \ |/ _ \ / _` |/ _` | | '_ \ / _` |
| |   | | | | |  __/ | (_) | (_| | (_| | | | | | (_| |
|_|   |_|_| |_|\___|_|\___/ \__, |\__, |_|_| |_|\__, |
                            __/ | __/ |         __/ |
                           |___/ |___/         |___/


</h1>
{% block body %}
{% endblock %}
</body>
<footer>
    <center> &copy; Pineapple </center>
</footer>
</html>
